<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="#">Support Centre</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-md-6 col-sm-4 col-xs-12">
                <div class="menu">
                    <nav>
                        <ul class="text-right">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bottom-menu">
                    <nav>
                        <ul>
                            <li>© 2016 DPR Systems LLC.</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
