<div>

    <div class="banner" id="fix-screen">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/banner1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/banner2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/banner3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/banner4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/banner5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <section class="content-section">
            <h2 class="title"><span>Why Loan Shop?</span></h2>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 thumb">
                    <div>
                        <i class="icon-quality"></i>
                        <h4>QUALITY SOLUTIONS</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 thumb">
                    <div>
                        <i class="icon-exprience"></i>
                        <h4>EASY EXPRIENCE</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 thumb">
                    <div>
                        <i class="icon-doller"></i>
                        <h4>MEMBER BENEFITS</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-section">

            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="title"><span>How We Do It?</span></h2>
                </div>
            </div>
            <div class="clearfix"></div>
            <section class="content-section">
                <div class="col-sm-12">
                    <p>Our unique approch to find a lender based on your needs has recived industry accolades.we take a number of dimensions in to consideration before presenting a proposal,including:</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="loader"><i class="icon-briefcase"></i></div>
                        <h4>LENDER PORTFOLIO<br>
                            &amp;<br>
                            APPORVAL RATING
                        </h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="loader1"><i class="icon-doller-line"></i></div>
                        <h4>YOURS NEEDS</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="loader2"><i class="icon-check"></i></div>
                        <h4><strong>MULTI DIMENSIONAL VARIFICATION</strong></h4>
                    </div>
                </div>
            </section>

        </section>
    </div>


</div>
